{% extends "ez_main/base.html" %}

<!-- Uses the aboutpage_style.css file located in the ez_main app static folder -->

{% block content %}
<div id="wrapper" class="wrapper">

   <!-- Start Flipbox Style-->
   <div class="section-flipbox section-ptb-120">
      <div class="container">

         <div class="row">
            <!-- Start of Flipbox 1 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
               <div class="square-flip charity-flip">
                  <div class="square">
                     <div class="square-container">
                        <span>About</span>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>

                  <div class="square2">
                     <div class="square-container2">
                        <h2>About Simple Scholar</h2>
                        <p>The goal of Simple Scholar is to provide a simple, and convenient method for you, as a busy student, to get your textbooks for the semester!</p>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>
               </div>
            </div>
            <!-- End of Flipbox 1 -->

            <!-- Start of Flipbox 2 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
               <div class="square-flip charity-flip">
                  <div class="square">
                     <div class="square-container">
                        <span>The Team</span>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>

                  <div class="square2">
                     <div class="square-container2">
                        <h2>The Simple Scholar Team</h2>
                        <p>Consisting of several college students who know all to well the experience of getting textbooks the hard way, the Simple Scholar team set out to solve these devastating stuggles for all future students.</p>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>
               </div>
            </div>
            <!-- End of Flipbox 2 -->

            <!-- Start of Flipbox 3 -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
               <div class="square-flip charity-flip">
                  <div class="square">
                     <div class="square-container">
                        <span>Services</span>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>

                  <div class="square2">
                     <div class="square-container2">
                        <h2>Services</h2>
                        <p>Simple Scholar offers delivery of your textbook order directly to your dorm room. In addition, all orders are available for pickup at the MK Great Hall within 30 minutes of placing your order.</p>
                     </div>
                     <div class="flip-overlay"></div>
                  </div>
               </div>
            </div>
            <!-- End of Flipbox 3 -->

         </div>
      </div>
   </div>
   <!-- End Flipbox Style-->

</div>

{% endblock content %}